/* My styling */

// allow for bootstrap navbar
body { padding-top: 70px; }

.currency-result {
    p {
        font-size: 2rem;
    
        &.small {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
    
}