<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
FX-u-like</a>
    </div>
    </div><!-- /.container -->
</nav>